@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --corum: #2a055b;
}
body {
  @apply bg-gradient-to-r from-[#1E0342] to-[#1E0342] min-h-screen;
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

@media (max-width: 768px) {

  .main-container {
    @apply flex flex-col gap-4
  }

  .first-section {
  
  }

  .first-container {
    @apply flex-col  max-w-[90%] gap-10 shadow-none p-0 text-center
  }

  .img-first {
    @apply hidden
  }

  .container-button {
    @apply mx-auto
  }

  .second-container {
    @apply flex-col
  } 

  .second-section-title {
    @apply px-2
  }

  .text-second-container {
    @apply text-center mx-2
  }

  .second-container--container {
    @apply p-3 
  } 

  .fourth-section--title {
    @apply px-2
  }

  .last-title {
    @apply text-center mx-2
  }

 
}